<div class="home-button-container"> <!-- Home button container outside of the container -->
  <app-home-button class="home-button"></app-home-button>
</div>

<div class="profile-container"> <!-- Profile menu container outside of the container -->
  <app-profile-menu class="profile-menu"></app-profile-menu>
</div>

<app-backgroud-card>
  <div class="header">
    <h1>Staff Profiles Management</h1>
  </div>

  <div class="content">
    <button class="add-button" (click)="addStaffProfile()">Add Staff Profile</button>
    <app-filter-staff-button *ngIf="staffList.length > 0 "
      (filterSelected)="handleSelectedFilter($event)"
    ></app-filter-staff-button>

    <button class="reset-filter-button" (click)="resetFilter()" *ngIf="showResetFilterButton">Reset Filter</button>

    <app-staff-profile-list *ngIf="staffList.length > 0"
      [staffList]="staffList"
      (deleteStaffProfile)="confirmDeleteStaffProfile($event)"
      (editStaffProfile)="editStaffProfile($event)"
    ></app-staff-profile-list>
  </div>
  <div class="no-profiles-message" *ngIf="staffList.length == 0">
    <p>There are no staff profiles to list.</p>
  </div>

</app-backgroud-card>

<app-confirm-modal (confirmed)="handleDeleteStaffProfileConfirmation($event)"></app-confirm-modal>
<app-enter-filter-name (nameToFilter)="applyNameFilter($event)"></app-enter-filter-name>


