<div class="home-button-container"> <!-- Home button container outside of the container -->
  <app-home-button class="home-button"></app-home-button>
</div>

<div class="profile-container"> <!-- Profile menu container outside of the container -->
  <app-profile-menu class="profile-menu"></app-profile-menu>
</div>

<div class="container">
  <div class="header">
    <h1>Staff Profiles Management</h1>
  </div>

  <div class="content">
    <button class="add-button" (click)="addStaffProfile()">Add Staff Profile</button>
    <app-filter-staff-button *ngIf="staffList.length > 0"
      (applyNameFilter)="applyNameFilter($event)"
    ></app-filter-staff-button>
    <app-staff-profile-list *ngIf="staffList.length > 0"
      [staffList]="staffList"
      (deleteStaffProfile)="confirmDeleteStaffProfile($event)"
      (editStaffProfile)="editStaffProfile($event)"
    ></app-staff-profile-list>
  </div>
  <div class="no-profiles-message" *ngIf="showNoStaffsFound">
    <p>No staff profiles found.</p>
  </div>
  <div class="no-profiles-message" *ngIf="staffList.length == 0 && !showNoStaffsFound">
    <p>There are no staff profiles to list.</p>
  </div>

</div>
<app-confirm-modal (confirmed)="handleDeleteStaffProfileConfirmation($event)"></app-confirm-modal>

