.staff-profile-list {
  max-height: 480px; /* Ajuste da altura para visualização melhorada */
  overflow-y: auto; /* Permite rolar se necessário */
}

.staff-profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #e0f7fa; /* Cor de fundo */
  border: 1px solid #e0e0e0; /* Borda leve */
  border-radius: 5px;
}

.staff-profile-actions {
  display: flex;
  gap: 10px;
}
