.home-button-container {
  position: absolute; /* Position the home button container absolutely */
  top: 10px; /* Adjust the top position */
  left: 10px; /* Align it to the left */
  z-index: 10; /* Ensure it is above other elements */
}

.profile-container {
  position: absolute; /* Position the profile container absolutely */
  top: 20px; /* Adjust the top position */
  right: 20px; /* Align it to the right */
  z-index: 10; /* Ensure it is above other elements */
}

.container {
  max-width: 800px;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Enable positioning for child elements */
}

.header {
  display: flex;
  justify-content: center; /* Center the header content */
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: black; /* Set the title color to black */
  text-align: center;
}

.add-button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #2196f3; /* Changed to blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #1976d2; /* Darker shade of blue for hover effect */
}

.operation-list {
  max-height: 480px; /* Adjusted for better visibility */
  overflow-y: auto; /* Keep this to allow scrolling if needed */
}

.operation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; /* Maintain the existing padding */
  margin-bottom: 10px;
  background-color: #e0f7fa;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.operation-details p {
  margin: 5px 0;
  color: black; /* Set text color to black for the titles */
}

.operation-actions {
  display: flex;
  gap: 10px;
}

.delete-button {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c62828;
}

.edit-button:hover {
  background-color: #388e3c;
}
