.header-container {
  display: flex;
  justify-content: flex-end; /* Alinha o conteúdo à direita */
  margin-bottom: 20px;
}

.filter-container {
  position: relative;
  margin-left: auto; /* Move o filtro para a direita */
}

/* Resto do CSS para o filtro */
.filter-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 8px;
}

.filter-input {
  padding: 10px;
  width: 150px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.filter-input:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.filter-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 5px 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.filter-options.animate-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.filter-option-item {
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-option-item:hover {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
}
