<div class="home-button-container">
  <app-home-button class="home-button"></app-home-button>
</div>

<div class="profile-container">
  <app-profile-menu class="profile-menu"></app-profile-menu>
</div>

<app-backgroud-card>
  <div class="header">
    <h1>Patient Profiles Management</h1>
  </div>

  <div class="content">
    <button class="add-button" (click)="registerPatientProfile()">Register Patient Profile</button>

    <app-filter-button
      *ngIf="patientProfilesList.length > 0 && showFilterPatientButton"
      [filters]="['Name', 'Email', 'Medical Record Number', 'Birth Date']"
      (filterSelected)="handleSelectedFilter($event)"
    ></app-filter-button>

    <button class="reset-filter-button" (click)="resetFilter()" *ngIf="showResetFilterButton">Reset Filter</button>


    <app-patient-profile-list *ngIf="patientProfilesList.length > 0 && showPatientProfileList"
                              [patientProfileList]="patientProfilesList"
                              (deletePatientProfile)="confirmDeletePatientProfile($event)"
                              (editPatientProfile)="editPatientProfile($event)"

    ></app-patient-profile-list>
  </div>

  <div class="error-message" *ngIf="showNoPatientProfilesFound; else invalidFields" >
    <p>Invalid Input.</p>
  </div>

  <ng-template #invalidFields>
    <div class="error-message" *ngIf="showEmptyMedicalRecordNumberError ||showEmptyDateBirthError || showEmptyEmailError || showEmptyNameError">
      <p>No patient(s) found.</p>
    </div>
  </ng-template>


</app-backgroud-card>

<app-confirm-modal (confirmed)="handleDeletePatientProfileConfirmation($event)"></app-confirm-modal>

<app-enter-filter-name
  (filterTypeToEmit)="currentFilter = $event"
  (nameToFilter)="handleFilterSelection($event)"
>></app-enter-filter-name>




