/* home-button.component.css */
.home-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.2s;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.home-button:hover {
  transform: scale(1.05);
}
