<div class="add-op-type">
  <h2>Add Operation Type</h2>

  <form (ngSubmit)="addOperationType()">
    <div class="form-group">
      <label for="operationName">Operation Name</label>
      <input
        id="operationName"
        type="text"
        [(ngModel)]="operation.operationName"
        name="operationName"
        required
      />
    </div>

    <div class="form-group">
      <label for="setupDuration">Setup Duration</label>
      <input
        id="setupDuration"
        type="time"
        [(ngModel)]="operation.setupDuration"
        name="setupDuration"
      />
    </div>

    <div class="form-group">
      <label for="surgeryDuration">Surgery Duration</label>
      <input
        id="surgeryDuration"
        type="time"
        [(ngModel)]="operation.surgeryDuration"
        name="surgeryDuration"
      />
    </div>

    <div class="form-group">
      <label for="cleanupDuration">Cleanup Duration</label>
      <input
        id="cleanupDuration"
        type="time"
        [(ngModel)]="operation.cleaningDuration"
        name="cleanupDuration"
      />
    </div>

    <h3>Required Staff</h3>
    <div class="form-group inline-fields">
      <label for="specialization">Specialization</label>
      <input
        id="specialization"
        type="text"
        [(ngModel)]="newRequiredStaff.specialization"
        name="specialization"
      />

      <label for="numberOfStaff">Number</label>
      <input
        id="numberOfStaff"
        type="number"
        [(ngModel)]="newRequiredStaff.numberOfStaff"
        name="numberOfStaff"
      />

      <button type="button" (click)="addRequiredStaff()" [disabled]="!isRequiredStaffValid()">Add</button>
    </div>

    <div *ngIf="operation.requiredStaff.length > 0">
      <h4>Staff Requirements:</h4>
      <ul>
        <li *ngFor="let staff of operation.requiredStaff; let i = index" class="staff-list">
          {{ staff.specialization }} - {{ staff.numberOfStaff }}
          <button class="remove-btn" type="button" (click)="removeRequiredStaff(i)">Remove</button>
        </li>
      </ul>
    </div>

    <button type="submit" [disabled]="!isOperationTypeValid()">Add Operation Type</button>
  </form>

  <app-home-button></app-home-button>
    <app-go-back-button [goBackPath]="'/admin/operationTypeManagement'"></app-go-back-button>
</div>
