.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

/* Title styling */
.menu-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Grid layout for menu boxes */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 80%;
  max-width: 1000px;
  justify-content: center; /* Center the grid within the container */
  margin-bottom: 40px;
  padding: 10px;
}

/* Profile menu container */
.profile-menu-container {
  position: absolute;
  top: 2vh;
  right: 2vh;
}
