.go-back-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.2s;
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 100;
}

.go-back-button:hover {
  transform: scale(1.05);
}
