<div class="register-patient-profile">
  <h2>Register Patient Profile</h2>

    <form (ngSubmit)="registerPatientProfile()">
      <div class="form-group">
        <label for="firstName"> First Name </label>
        <input
            id="firstName"
            type="text"
            [(ngModel)]="patient.firstName"
            name="firstName"
            required
        />
      </div>

      <div class="form-group">
        <label for="lastName"> Last Name </label>
        <input
          id="lastName"
          type="text"
          [(ngModel)]="patient.lastName"
          name="lastName"
          required
        />
      </div>

      <div class="form-group">
        <label for="dateOfBirth"> Date Of Birth </label>
        <input
          id="dateOfBirth"
          type="text"
          [(ngModel)]="patient.dateOfBirth"
          name="firstName"
          required
        />
      </div>

      <div class="form-group">
        <label for="medicalHistory"> Medical History </label>
        <input
          id="medicalHistory"
          type="text"
          [(ngModel)]="patient.medicalHistory"
          name="medicalHistory"
          required
        />
      </div>

      <div class="form-group">
        <label for="emailAddress"> Email Address </label>
        <input
          id="emailAddress"
          type="text"
          [(ngModel)]="patient.emailAddress"
          name="emailAddress"
          required
        />
      </div>

      <div class="form-group">
        <label for="phoneNumber"> Phone Number </label>
        <input
          id="phoneNumber"
          type="text"
          [(ngModel)]="patient.phoneNumber"
          name="phoneNumber"
          required
        />
      </div>

      <button type="submit">Register Patient Profile</button>
    </form>
  <app-home-button></app-home-button>
</div>
