.container {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}


h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.login-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-section {
  margin: 10px 0;
}

.image-section img {
  max-width: 100%;
  height: 500px;
}

footer {
  margin-top: 20px;
}

.dev-info {
  display: inline-block; /* Makes the box size to the content */
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: lightgray;;
  /*color: white; */ /* Text color*/
  border-radius: 8px; /* Rounded corners */
}

.dev-info h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.dev-info ul {
  list-style-type: none;
  padding: 0;
}

.dev-info li {
  font-size: 22px;
  margin: 5px 0; /* Space between the list items */
}

.dev-info p {
  font-size: 23px;
  margin-top: 10px; /* Space between the list and the paragraph */
}

.dev-info p .team-label {
  font-size: 23px;
  font-weight: bold;
}





