<div class="container">
  <header>
    <h1>Welcome to Surgical App System</h1>
    <button class="login-button" (click)="login()">Login</button>
  </header>

  <div class="image-section">
    <img src="assets/2.jpg" alt="Main Image">
  </div>

  <div class="dev-info">
    <h3>Developed by:</h3>
    <ul>
      <li>1220704 - Mateus Cabral</li>
      <li>1221283 - Rui Soares</li>
      <li>1221121 - Sandro Luís</li>
      <li>1220994 - Rute Ferreira</li>
    </ul>
    <p><span class="team-label">Developer Team Name:</span> Herdeiros</p>
  </div>

</div>

