.operation-request-details {
  padding: 10px;
  background-color: #e0f7fa;  /* Você pode reutilizar esse estilo ou modificar conforme necessário */
  border-radius: 5px;
  margin-bottom: 10px;
}

.operation-request-details p {
  margin: 5px 0;
  color: black;
}
